.brands{
  display: flex;
  
  width: 84%;
  max-width: 1200px;
  justify-content: center;
  margin-bottom: 40px;
}
.brands .brands-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.brands img{
  width:160px;
  height:70px;
  margin:20px 30px;
}